:root {
    --navbar-mobile-height: 20rem;
    --navbar-desktop-height: 3rem;
    --navbar-desktop-height-extra: 0rem;

    --dark-black: rgba(10, 10, 10, 1);
    --dark-light-black: rgb(25, 25, 25, 1);
    --gray-black: #131313;
    --light-gray: #ABA9AB;
    --highlight: #F05454;
}

html {
    font-size: calc(60% + 0.8vmin);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: rgb(18, 18, 18); */
    background: radial-gradient(circle, var(--dark-light-black), var(--dark-black));
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: var(--gray-black);
    z-index: 999;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: px solid var(--dark-black);
}

#nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#nav-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-title-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

#header-img-container {
    display: flex;
    width: 90px;
    height: 90px;
}

#header-img-container img {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}

#title-container {
    display: flex;
    align-self: center;
    padding-left: 0.5rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.title-custom {
    color: var(--highlight);
}

.title-boards {
    color: var(--light-gray);
}

#nav-anchors {
    display: flex;
    flex-direction: column;
    /* font-size: clamp(1rem, 2vw + 1rem, 2rem); */
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 2.5rem;
}

section {
    scroll-margin-top: var(--navbar-mobile-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 10rem;

    /* border: 2px solid white; */
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: auto;
    width: clamp(70%, 85%, 95%);
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-top: var(--navbar-mobile-height);
}

#tagline {
    font-size: 5rem;
    font-weight: 600;
    color: var(--light-gray);
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    display: flex;
    width: 100%;
    height: 4rem;
    padding-left: 0.5rem;
    margin: auto;
    align-self: center;
    font-size: 2rem;
    margin-top: 3rem;
}

#submit {
    display: flex;
    margin: auto;
    padding-left: 2rem;
    width: 390px;
    height: 100px;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -2px;
    color: white;
    background-color: var(--highlight);
    text-align: center;
    vertical-align: middle;
    line-height: 1rem;
}


#features {
    display: flex;
    flex-direction: column;
}

.feature-text-wrapper:not(:last-child) {
    padding-bottom: 5rem;
}

.quote-container:not(:last-child) {
    padding-bottom: 5rem;
}



h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
}

p {
    text-align: center;
}

q {
    text-align: center;
    font-style: italic;
    display: inline;
}

.quote-author {
    text-align: right;
    justify-content: right;
    font-weight: 600;
    color: var(--light-gray);
}

h3 {
    text-align: center;
    font-size: 2.5rem;
}

#faq {
    padding-bottom: 5rem;
}

.faq-question {
    text-align: left;
    font-weight: 600;
    padding-bottom: 1rem;
}

.faq-answer {
    text-align: left;
}

.faq-answer:not(:last-child) {
    padding-bottom: 4rem;
}

#video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------- */


@media (min-width: 1000px) {
    /* html {
        font-size: 10px;
    } */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;

    }

    a {
        font-size: 1.1rem;
    }

    a:not(:last-of-type) {
        padding-right: 3rem;
    }

    p {
        font-size: 1.1rem;
    }

    q {
        font-size: 1.1rem;
    }

    #header {
        flex-direction: row;
        position: fixed;
        top: 0;
        background-color: var(--gray-black);
        z-index: 999;
        width: 100%;
        height: var(--navbar-desktop-height);
        padding-bottom: 0;

        border-bottom: 0;
    }

    #nav-bar {
        flex-direction: row;
        width: 100%;
        height: 100%;

        /* border: 2px solid white; */
    }

    #nav-bar-div {
        flex-direction: row;
        width: 100%;
        height: 100%;


        /* border: 2px solid red; */
    }

    #img-title-container {
        flex-direction: row;
        padding-top: 0;
        padding-left: 2rem;
        margin: auto;
        height: 100%;

        /* border: 2px solid blue; */
    }

    #header-img-container {
        width: 60px;
        height: 100%;

        /* border: 2px solid purple; */
    }

    #header-img-container img {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    #title-container {
        align-self: center;
        padding-left: 0.5rem;
        height: auto;

        /* border: 2px solid green; */
    }

    #nav-anchors {
        flex-direction: row;
        /* font-size: clamp(1rem, 2vw + 1rem, 2rem); */
        width: 100%;
        gap: 1rem;
        text-align: right;
        justify-content: right;
        padding-right: 2rem;

        /* border: 2px solid white; */
    }

    #page-wrapper {
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin: auto;
        width: clamp(70%, 85%, 95%);
        justify-content: space-evenly;
        align-content: space-evenly;
        padding-top: calc(var(--navbar-desktop-height) + var(--navbar-desktop-height-extra));
    }

    #tagline {
        font-size: 2.7rem;
        font-weight: 600;
        color: var(--light-gray);
    }

    section {
        scroll-margin-top: calc(var(--navbar-desktop-height) + var(--navbar-desktop-height-extra));
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        width: 100%;
        padding-bottom: 10rem;
        /* border: 2px solid white; */
    }

    section:not(:last-of-type) {
        padding-bottom: 10rem;
    }

    #email {
        display: flex;
        width: 350px;
        height: 1.5rem;
        margin: auto;
        align-self: center;
        justify-self: center;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 3rem;
    }

    #submit {
        padding-left: 1rem;
        width: 200px;
        height: 75px;
        font-size: 1.38rem;
        line-height: 1rem;
    }

    #features-and-testimonials {
        display: flex;
        justify-content: left;
        align-items: center;

        /* border: 2px solid white; */
    }

    #features {
        display: flex;
        flex-grow: 1;
        justify-content: left;
        align-items: center;
        padding-right: 7vw;

        /* border: 2px solid white; */
    }

    #testimonials {
        display: flex;
        flex-grow: 1;
        justify-content: right;
        align-items: center;
        padding-left: 7vw;
        padding-top: 2rem;

        /* border: 2px solid white; */
    }

    .quote-author {
        display: flex;
        justify-content: left;
        /* text-align: center; */
    }

    #video-container-container {
        display: flex;
        margin-left: 14vw;
    }

    #video-container {
        display: flex;
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        justify-content: center;
        align-items: center;

        /* border: 2px solid white; */
    }

    #video {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;

        /* border: 2px solid white; */
    }
}